{% extends "base.html" %}
{% load static %}

{% block title %}
    Registration
{% endblock %}

{% block head %}
<script type="text/javascript">
  function addForm() {
    numForms = Number($("#id_form-TOTAL_FORMS")[0].value);
    lastForm = $("#id_form-" + (numForms-1) + "-container")[0];
    newForm = lastForm.cloneNode(true);
    newForm.id = "id_form-" + numForms + "-container";
    newForm.innerHTML = newForm.innerHTML.replaceAll("form-" + (numForms-1), "form-" + numForms);
    lastForm.after(newForm);
    $("#id_form-TOTAL_FORMS")[0].value++;
  }

  function deleteForm(i) {
    numForms = Number($("#id_form-TOTAL_FORMS")[0].value);
    $("#id_form-" + i + "-container")[0].remove();
    for (let j = i+1; j < numForms; j++) {
      jthFormJQ = $("#id_form-" + j + "-container");
      jthFormJQ[0].id = "id_form-" + (j-1) + "-container";
      jthFormJQ.find("label").each(function() {
        this.setAttribute("for", this.getAttribute("for").replace("form-" + j, "form-" + (j-1)));
      })
      jthFormJQ.find(":input").each(function() {
        this.id = this.id.replace("form-" + j, "form-" + (j-1));
        this.name = this.name.replace("form-" + j, "form-" + (j-1));
      })
    }
    $("#id_form-TOTAL_FORMS")[0].value--;
  }
</script>
{% endblock %}

{% block content %}


<form>
  {% csrf_token %}
  <p>Form 1</p>
  {{ form }}
  <p>Management<p>
  {{ formset.management_form }}
  <p>Form 2s</p>
  {% for fm in formset %}
    <div id="id_form-{{ forloop.counter0 }}-container">
      {{ fm }}
    </div>
    <p>divider</p>
  {% endfor %}
</form>


{% endblock %}
